<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/feed.css" />

<div class="container">
  <div class="window">
    <img class="main"
      src="https://images.unsplash.com/photo-1721232595017-22332c467a0e?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0OXx8fGVufDB8fHx8fA%3D%3D"
      alt="image"
    />
    <div class="hover-zone">
      <div class="top-bar">
        <a>Save</a>
      </div>
      <div class="bottom-bar justify-end">
        <div class="radius-ico">
          <img class="ico"
            src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png"
          />
          <img class="ico"
            src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="window">
    <img class="main"
      src="https://images.unsplash.com/photo-1465056836041-7f43ac27dcb5?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGxhbmRzY2FwZXxlbnwwfHwwfHx8MA%3D%3D"
      alt="image"
    />
    <div class="hover-zone">
      <div class="top-bar">
        <a>Save</a>
      </div>
      <div class="bottom-bar justify-end">
        <div class="radius-ico">
          <img class="ico"
            src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png"
          />
          <img class="ico"
            src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="window">
    <img class="main"
      src="https://images.unsplash.com/photo-1719937206589-d13b6b008196?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D"
      alt="image"
    />
    <div class="hover-zone">
      <div class="top-bar">
        <a>Save</a>
      </div>
      <div class="bottom-bar justify-end">
        <div class="radius-ico">
          <img class="ico"
            src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png"
          />
          <img class="ico"
            src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
