<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/feed.css" />

<div class="container">
  <% if (Posts.length > 0) { %>
    <% Posts.forEach((post)=>{ %>
      
      <div class="window">
        <img class="main"
          src="/images/uploads/<%= post.imageUrl %>"
          alt="image"
        />
        <div class="hover-zone">
          <div class="top-bar">
            <a>Save</a>
          </div>
          <div class="bottom-bar justify-between">
            <div
              class="cardTitle max-w-[70%] text-nowrap overflow-hidden text-ellipsis py-[6px] px-[14px] pt-[6px] rounded-full bg-white text-black font-bold text-sm"
            >
              <%= post.caption %>
            </div>
            <div class="radius-ico">
              <img class="ico"
                src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png"
              />
              <img class="ico"
                src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png"
              />
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  <% } %>
</div>

<%- include('./partials/footer') %>
