<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/feed.css" />

<div class="container">
  <div class="box window">
    <img class="main"
      src="https://orionstardesign.com/wp-content/uploads/2021/08/newStopCropped1.jpg"
      alt="image"
    />
    <div class="hover-zone">
      <div class="top-bar">
        <a>Save</a>
      </div>
      <div class="bottom-bar justify-end">
        <div class="radius-ico">
          <img class="ico"
            src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png"
          />
          <img class="ico"
            src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
