<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
</head>
<body class="p-4">
  <h1 class="text-2xl font-semibold">hay my bro</h1>
</body>
</html>